<h2 mat-dialog-title>Wellcome</h2>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="!nameFormControl.hasError('required')">
      Please enter a valid name
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="true">Not thanks</button>
  <button mat-button mat-dialog-close mat-dialog-close="false">Done</button>
</mat-dialog-actions>
